<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <h1>"/specialities" - список специальностей</h1>
    <h1>"/week" - вернёт "числитель" или "знаменатель"</h1>
    <h1>"/groups/{speciality}" - список групп по специальности</h1>
    <h1>"/timetable/{groupname}" - расписание по номеру группы</h1>
    <h1>"/replacement/{groupname}" - замены по номеру группы</h1>
</body>

</html>